@charset "utf-8";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$inter-font-path: '~inter-ui/Inter (web latin)';
$inter-font-display: swap;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: $inter-font-display;
  src: url('#{$inter-font-path}/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: $inter-font-display;
  src: url('#{$inter-font-path}/Inter-Black.woff2') format('woff2');
}

$family-sans-serif: 'Inter';

$timelineStepWidth: 30px;
$timelineStepOffset: 1.5rem;

.timeline {
  position: relative;
}

.timeline:before {
  content: '';
  position: absolute;
  border-bottom: 1px #b5b5b5 solid;
  width: $timelineStepWidth;
  top: $timelineStepOffset;
  left: calc(50% - 1px);
}

.timeline:after {
  content: '';
  position: absolute;
  border-right: 1px #b5b5b5 solid;
  top: $timelineStepOffset;
  height: 100%;
  width: 100%;
  transform: translateX(-50%);
}
