@charset "utf-8";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

$timelineStepWidth: 30px;
$timelineStepOffset: 1.5rem;

html {
  font-family: 'Inter', sans-serif;
}

.timeline {
  position: relative;
}

.timeline:before {
  content: '';
  position: absolute;
  border-bottom: 1px #b5b5b5 solid;
  width: $timelineStepWidth;
  top: $timelineStepOffset;
  left: calc(50% - 1px);
}

.timeline:after {
  content: '';
  position: absolute;
  border-right: 1px #b5b5b5 solid;
  top: $timelineStepOffset;
  height: 100%;
  width: 100%;
  transform: translateX(-50%);
}
